{% comment %}
  Price snippet
  Accepts:
    - product: Product object (optional if variant passed)
    - variant: Variant object override
    - use_variant: boolean (default true)
    - show_badges: boolean to surface sale/sold out badges
    - price_class: optional string of CSS classes
{% endcomment %}
{% liquid
  assign price_class = price_class | default: ''
  assign show_badges = show_badges | default: false
  assign target_variant = variant
  assign price_id_suffix = section.id | default: product.id | default: ''
  if target_variant == blank and product
    if use_variant != false and product.selected_or_first_available_variant
      assign target_variant = product.selected_or_first_available_variant
    else
      assign target_variant = product.variants | first
    endif
  endif
  if price_id_suffix == '' and target_variant
    assign price_id_suffix = target_variant.id
  endif
  if price_id_suffix == ''
    assign price_id_suffix = 'default'
  endif
%}
{% if target_variant %}
  {% liquid
    assign current_price = target_variant.price
    assign compare_at_price = target_variant.compare_at_price
    assign available = target_variant.available
    assign has_compare = false
    if compare_at_price and compare_at_price > current_price
      assign has_compare = true
    endif
  %}
  <div class="price {{ price_class }}" data-price id="Price-{{ price_id_suffix }}">
    <span class="price__current" data-price-current>{{ current_price | money }}</span>
    {% if has_compare %}
      <span class="price__compare" data-price-compare>{{ compare_at_price | money }}</span>
      {% if show_badges %}
        <span class="price__badge price__badge--sale">{{ 'products.product.on_sale' | t }}</span>
      {% endif %}
    {% endif %}
    {% unless available %}
      <span class="price__badge price__badge--sold-out">{{ 'products.product.sold_out' | t }}</span>
    {% endunless %}
    {% if target_variant.unit_price_measurement %}
      <span class="price__unit">{{ target_variant.unit_price | money }} / {{ target_variant.unit_price_measurement.reference_value | default: 1 }}{{ target_variant.unit_price_measurement.reference_unit }}</span>
    {% endif %}
  </div>
{% endif %}

