{%- comment -%} Password page template. {%- endcomment -%}
<main id="MainContent" class="page-width" role="main">
  <section class="password-page">
    <h1>{{ 'general.password_page.login_form_heading' | t | default: 'Enter store using password:' }}</h1>
    {% form 'storefront_password' %}
      <label for="Password">{{ 'general.password_page.login_form_password_label' | t | default: 'Password' }}</label>
      <input type="password" id="Password" name="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t | default: 'Your password' }}" required>
      <button type="submit">{{ 'general.password_page.login_password_button' | t | default: 'Enter using password' }}</button>
      {% if form.errors %}
        <p class="form-errors">{{ form.errors | default_errors }}</p>
      {% endif %}
    {% endform %}
    <p class="password-contact"><a href="mailto:{{ shop.email }}">Contact us</a></p>
  </section>
</main>
